<div class="row">
  <div class="text">
    <h1>The Rebellion</h1>
  </div>
</div>

<div class="row">
  <div class="text">
    <h3>Signup for the mailing list!</h3>
  </div>
</div>

<div class="text-center">
  <div class="row">
    <form class="create-follower" action="/" method="post">
      <input type="text" class="" id="followerName" name="follower[name]" placeholder="Name?">
      <br />
      <input type="text" class="" id="followerEmail" name="follower[email]" placeholder="Email?">
      <br />
      <input type="submit" id="createFollower" class="" disabled>
    </form>
  </div>
</div>


<div id="followers-list">

</div>
