<h1>The Rebellion</h1>

<h3>Signup for the mailing list!</h3>

<form class="" action="/people" method="post">
  <input type="text" name="person[name]" placeholder="Name?">
  <input type="text" name="person[email]" placeholder="Email?">
  <input type="submit">
</form>
